#board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 0;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.black { background-color: #769656; }

.white { background-color: #eeeed2; }

.piece {
  font-size: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.piece.king {
  position: relative;
}

.piece.king::after {
  content: '👑';
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  color: gold;
}

.black-piece { color: black; }

.white-piece { color: white; }

.selected {
  background-color: #ff0000;
}
.winningOverlayBlack,
.winningOverlayWhite {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
}

.winningOverlayBlack h1,
.winningOverlayWhite h1 {
  font-size: 3em;
  color: black;
  margin-bottom: 20px;
}

.resetBtn {
  display: block;
  position: absolute;
  margin-top: 150px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}